html,body,h1{
	background: url(2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  height: 100%;
  margin: 0;
}

div{


}

#wrapper{
	min-height: 100%;

	position: relative;

}


#smallwrapper{
	margin: 0;
	background: yellow;
	position: absolute;
	top: 50%;
	width: 100%;
	height:auto;
	text-align: center;


}
