html{
	height:100%;
	width:100%;
	margin:0px;
	padding:0px;
	overflow-x: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

body{

	position: fixed;

	background-repeat: no-repeat;

	background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-webkit-background-size:cover;



	height:100%;
	width:100%;
	margin:0px;
	padding:0px;
	overflow-x: hidden;

}
#button1{
    background-color: #black; /* Green */
    border: none;
    color: white;
    padding: 30px 40px;
    text-align: center;
    
    text-decoration: none;
    display: inline-box;
    font-size: 24px;
}
#one{
	bottom:50%;
	text-align: center;
	width:100%;
	position: fixed;

	background-size: cover;

	font-family: 'Alegreya Sans', sans-serif;
	font-weight: 600;
	font-size: 50px;

}
#two{
	bottom:50%;
	color: inherit;
}
footer{
	background-color: black;
	height:20px;
	position:fixed;
	bottom:0;
	width:100%;
	color:white;
	font-family: 'Poiret One';
	text-align: center;
}

a:link{
	color: white;
	font-style: normal;
	font-variant: normal;
	text-decoration: none;
}

a:visited{
	color:red;
}
a:hover{
	font-style: italic;
}
